
body {
  font-family: 'Playfair Display', serif;
  color:#111111;
  margin: 0 auto;
  background-image: url("donut.jpeg");
  margin-bottom: 50px;
  width: 90%;
  margin: 0 auto;
  }


h1 {
  margin-left: 75px;
  font-weight: bold;
  font-style: italic;
  padding: 0px 0px 10px 50px;
  display: inline-block;
}

h3 {
  font-weight: lighter;
  font-style: italic;
  display: inline-block;
  position: relative;
  left: 170px;
}

#logo {
  overflow: auto;
}

#form {
  display: inline-block;
  position: relative;
  left: 175px;
  top: -1px;
}

table {
  padding-left: 60px;
}

#quote1 {
  float: left;
  width: 300px;
  margin: 80px 0px 0px 150px;
}

#quote2 {
  float: left;
  width: 300px;
  margin: 85px 0px 0px 200px;
}

.topth {
  border-bottom: 2px solid #111111;
}

#total>td {
  border-top: 2px solid #111111;
}

th, td {
  padding: 5px 10px 10px 10px;
  text-align: center;
  font-size: 90%;
  letter-spacing: 0.1em;
  width: 150px;
}

th:hover {
  background-color: rgba(255, 73, 123, .4);
  color: #ffffff;
  text-shadow: 2px 2px 7px #111111;
  box-shadow: 0px 0px 6px rgba(0,0,0,.5);
}

td:hover {
  background-color: rgba(255, 220, 149, .4);
  color: #ffffff;
  text-shadow: 2px 2px 7px #111111;
  box-shadow: 0px 0px 6px rgba(0,0,0,.5);
}

h5 {
  text-align: center;
}

#donut1 {
  position: absolute;
  left: 94px;
  bottom: -350px;
}

#donut2 {
  position: absolute;
  bottom: -350px;
  right: 125px;
}

#donut3 {
  position: absolute;
  left: 425px;
  bottom: -350px;
}

p {
  color: rgba(232, 225, 230, 0);
  display: inline-block;
}

footer {
    background-color: rgba(232, 225, 230, .8);
    padding-top: 10px;
    padding-bottom: 0px;
    position:fixed;
    bottom:0;
    width:100%;
    left:0;
}

